body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #222;
  color: #fff;
}

/* Sidenav area */


md-list-item > button,
md-list-item > a {
    width: 100%;
    text-align: left !important;
}

md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav md-list {
    padding: 0 0 8px 0;
    color: #222;
}

.player-list {
    height: 92vh;
}


/* Primary content area */


#content {
    background: #222;
    color: #fff;
    width: 90%;
}



#content md-icon.avatar {
    margin-top: 10px;
}

md-list-item .active.away {
    background-color: rgba(231, 76, 60, 0.8);
    color: #FFF;
}

md-list-item .active.home {
    background-color: rgba(52, 152, 219, 0.6);
    color: #FFF;
}


md-list-item:hover .away,
md-list .md-button:not([disabled]):hover.away {
    background-color: rgba(231, 76, 60, 0.8);
    color: #FFF;
}

md-list-item:hover .home,
md-list .md-button:not([disabled]):hover.home {
    background-color: rgba(52, 152, 219, 0.6);
    color: #FFF;
}



md-list-item .md-focused {
    background: #fff!important;
}

md-list:focus {
    outline: none;
}



.md-button.menuBtn > md-icon {
    fill: white;
    width: 24px;
    height: 24px;
}

#content .md-button.share:active > md-icon {
    background-color: #dadada;
    border-radius: 75%;
    padding: 4px;
    transition: all 100ms ease-out 30ms;
}

#content img {
    display: block;
    height: auto;
    max-width: 500px;
}

/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  background: #222;
  padding: 50px 0;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
 /* white-space: nowrap;
  overflow-x: hidden;*/
  background: #222;

}

.timeline div#hr {
  font-size: 0;
  width: 90vw;
  /*padding: 250px 0;*/
  transition: all 1s;
  height: 3px;
  margin: 0 auto;
}

.timeline ol {
  padding: 0;
  height: 3px;
  background: #fff;
}

.timeline ol li {
  /*position: absolute;*/
  display: inline-block;
  list-style-type: none;
  height: 3px;
  width: 1px;
  background: #F45B69;
  margin-left: 9.5%;
 
}

.timeline ol li span {
  font-size: 14px;
 
}

/*.timeline ol li:last-child {
  background: transparent;
 
}*/


  .timeline .mark { 
   width:17px;
   height:30px; 
   background-color:blue; 
   position:relative; 
   left:0;
   margin-top: 0;
   color: #fff; 
   font-size: 12px;
   display: inline-block;
   border-radius: 50%;
   text-align: center;
   -moz-transition : all 0.8s ease 0s;
 }

  .timeline .mark.sameminutes { 
   width:8px;
   height:20px; 
   border-radius: 0%;
  
 }

.timeline .red{ 
 
   background-color:red; 
  
 }

 .timeline div:nth-child-4 { 
 
   background-color:red; 
  
 }

 md-input-container {
    margin: 0 0;
    color: #fff;
    font-size: 16px;
    width: 150px;
    top: 15px;
}

md-input-container .md-input-focused,
md-input-container .md-input-has-value,
.md-text,
#minutes {
    color: #fff!important;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #fff;
}

md-input-container .md-input {
  border-color: #fff;
}

md-input-container label {
  color: #fff;
}
